.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 10px;
    cursor: pointer;
}

.nav-title {
    display: flex;
    justify-content: center;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
  }

#header-logo {
    height: 80px;
    width: auto;
}

#footer-logo {
    height: 80%;
    width: auto;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
